/*
  The CSS in this style tag is based off of Bear Blog's default CSS.
  https://github.com/HermanMartinus/bearblog/blob/297026a877bc2ab2b3bdfbd6b9f7961c350917dd/templates/styles/blog/default.css
  License MIT: https://github.com/HermanMartinus/bearblog/blob/master/LICENSE.md
 */

:root {
	--accent: #2337ff;
	--accent-dark: #000d8a;
	--black: 15, 18, 25;
	--gray: 96, 115, 159;
	--gray-light: 229, 233, 240;
	--gray-dark: 34, 41, 57;
	--gray-gradient: rgba(var(--gray-light), 50%), #fff;
	--box-shadow:
		0 2px 6px rgba(var(--gray), 25%), 0 8px 24px rgba(var(--gray), 33%),
		0 16px 32px rgba(var(--gray), 33%);

--bg: #fafafa;
  --text: rgb(var(--gray-dark));
	 --header-bg: #ffffff;
  --header-text: rgb(var(--black));

}
:root[data-theme="dark"] {
  --black: 235, 235, 235;
  --gray-dark: 230, 230, 230;
  --gray: 160, 160, 160;
  --gray-light: 40, 40, 40;
  --gray-gradient:  #0d0d0d, #0d0d0d;

   --box-shadow:
    0 2px 6px rgba(0,0,0,40%),
    0 8px 24px rgba(0,0,0,50%),
    0 16px 32px rgba(0,0,0,60%);

	--bg: #0d0d0d;
  --text:  rgb(230, 230, 230);
	--header-bg: #111;
  --header-text:  rgb(230, 230, 230);
}
body {
	font-family: var(--font-atkinson);
	margin: 0;
	padding: 0;
	text-align: left;
	background: var(--bg);
	overflow-x: hidden;
	
	word-wrap: break-word;
	overflow-wrap: break-word;
	color: var(--text);
	font-size: 20px;
	line-height: 1.7;

	 transition: background 0.3s, color 0.3s;
}

main {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 3em 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.5rem 0;
	color: var(--text);
	line-height: 1.2;
}
h1 {
	font-size: 3rem;
	white-space: pre-line;
	margin: 0.2em 0;
}

h2 {
	font-size: 2.441em;
}
h3 {
	font-size: 1.953em;
  scroll-margin-top: 90px;
}
h4 {
	font-size: 1.563em;
  scroll-margin-top: 90px;
}
h5 {
	font-size: 1.25em;
  scroll-margin-top: 90px;
}
strong,
b {
	font-weight: 700;
}
a {
	color: var(--accent);
}
a:hover {
	color: var(--accent);
}
p {
	margin-bottom: 1em;
}
.prose p {
	margin-bottom: 2em;
}
textarea {
	width: 100%;
	font-size: 16px;
}
input {
	font-size: 16px;
}
table {
	width: 100%;
}
img {
	max-width: 100%;
	height: auto;
	border-radius: 8px;
}
code {
	padding: 2px 5px;
	background-color: rgba(255,255,255,0.08);
	border-radius: 2px;
}
:root[data-theme="dark"] code {
  background-color: rgba(255,255,255,0.08);
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}
pre > code {
	all: unset;
}
blockquote {
	background: rgba(180,180,180,0.15);

    padding: 20px;


    border-radius: 12px;

    margin: 30px 0;
}
:root[data-theme="dark"] blockquote {
  background: rgba(255,255,255,0.06);
}
hr {
	border: none;
	border-top: 1px solid rgb(var(--gray-light));
}

.subtitle {
  font-size: 3rem;
  margin: 0.3em 0;
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
.title {
  text-align: center;
  margin-bottom: 1.5em;
}



#player {
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 999;

   border-radius: 16px;
  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);

  background: rgba(0,0,0,0.6);
  backdrop-filter: blur(10px);

}

.layout {
  display: grid;
  grid-template-columns: 260px minmax(0, 1fr);
  align-items: start;
  gap: 2rem;
}

.toc {
  position: sticky;
  top: calc(var(--header-height) + 16px);

  margin-top: 1rem;
  background: var(--header-bg);
  box-shadow: var(--box-shadow);
  border-radius: 16px;
  padding: 1rem;

  scrollbar-width: thin;

}

.toc-body {
  max-height: calc(100vh - 120px);
  overflow-y: auto;

   scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* old Edge */

   mask-image: linear-gradient(
    to bottom,
    black 90%,
    transparent 100%
  );
}

.toc-body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


.toc a {
  display: block;

  text-decoration: none;
  color: var(--text);

  padding: 0.35rem 0;

  transition: 0.2s;
}

.toc a:hover {
  transform: translateX(4px);
}

.depth-3 {
  font-size: 1rem;
  font-weight: 600;
}

.depth-4 {
  font-size: 0.9rem;
  padding-left: 1rem;
  opacity: 0.9;
}

.depth-5 {
  font-size: 0.85rem;
  padding-left: 2rem;
  opacity: 0.7;
}

.toc summary {
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.toc ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}



.prose {
		width: 100%;
		max-width: 720px;
		margin: 0;
		padding: 1em;
		}


.content {
  min-width: 0;
}

iframe {
  width: 100%;
  max-width: 100%;
  aspect-ratio: 16 / 9;
  height: auto;
  border: 0;
}

* {
  box-sizing: border-box;
}

@media (max-width: 720px) {
	body {
		font-size: 16px;
	}
	main {
		padding: 1em;
		 max-width: 100%;
	}
	h1 {
    font-size: 1.8rem;
  }
    .subtitle {
    font-size: 1.8rem;
  }

   iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    height: auto;
  }
  .layout {
	display: flex;
    flex-direction: column;
  }

  #player {
    display: none;
  }

  .toc {
    position: static;
	width: 100%;
    margin: 1rem 0;
  }
  .content {
    width: 100%;
  }
}