---
const { headings = [] } = Astro.props;
---

{
  headings?.length > 0 && (
    <details class="toc">
      <summary>目次</summary>

      <ul>
        {
          headings.map((heading) => (
            <li class={`depth-${heading.depth}`}>
              <a href={`#${heading.slug}`}>
                {heading.text}
              </a>
            </li>
          ))
        }
      </ul>
    </details>
  )
}